*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.warper{
    width: 100%;
    display: flex;
    flex-direction: column;
    .top{
        width: 100%;
        height:530px;
        background: red;
    }
    .bottom{
        width: 100%;
        height:830px;
        background: yellow;
    }
}